 * {
   box-sizing: border-box;
 }
 
 
 .App {
  background-color: #282c34;
  height: 100vh;
  /* text-align: center; */
}


/*NAVBAR CONTACT*/
.contact {
  width: 100%;
  box-sizing: border-box;
  background: black;
  font-family: 'Poppins', sans-serif;
  position: fixed;
}

nav {
  /* width: 100%; */
  /* margin: auto; */
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 50px;
  padding-right: 20px;
}


nav ul li a {
  text-decoration: none;
  color: #606163;
}


nav ul li a:hover {
  color: white;
}



/* MAIN CONTENT */
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  /* background: coral; */
  background: #607d8b;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  color: white;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
}

.sub-title {
  position: absolute;   
  padding-top: 120px;
  font-size: 18px;
  color: white;
  font-family: 'Poppins', sans-serif;
}


.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  background: #607d8b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  top: 50px;
}

.cup {
  position: relative;
  width: 280px;
  height: 300px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.top {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-radius: 50%;
}

.circle {
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  background: linear-gradient(to left, #f9f9f9, #d9d9d9);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
} 

.tea {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#c57e65, #e28462);
  border-radius: 50%;
}

.handle {
  position: absolute;
  right: -70px;
  top: 40px;
  width: 160px;
  height: 180px;
  border: 25px solid #dcdcdc;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  transform: rotate(42deg);
}

.plate {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 200px;
  background: linear-gradient(to right, #f9f9f9, #e7e7e7);
  border-radius: 50%;
  box-shadow: 0 35px 35px rgba(0, 0, 0, .2);
}

.plate::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background: linear-gradient(to left, #f9f9f9, #e7e7e7);
}

.plate::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: radial-gradient(rgba(0,0,0,.2) 25%, transparent, transparent);
  border-radius: 50%;
}

.vapour {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.vapour span {
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
  0% 
  {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }

  15%
  {
    opacity: 1;
  }

  50% 
  {
    transform: translateY(-150px) scaleX(5);
  }

  95% 
  {
    opacity: 0;
  }

  100% 
  {
    transform: translateY(-300px) scaleX(10);
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* RESPONSIVE */
@media only screen and (max-width: 700px) {

  .contact 
  {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
  }


  .contact > nav
  {
    left: 0;
    position: relative;
    justify-content: center;
    align-items: center;
  }


  .title
  {
    font-size: 40px;
  }

  .sub-title
  {
    /* font-size: 15px;
    padding-top: 0;
    position: static; */
    display: none;
  }

  .column1 
  {
    width: 100%;
  }

  .column2 
  {
    width: 100%;
  }
  
}



/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
